.App {
  text-align: start;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.nav-link {
  margin: "1rem";
  font-size: large;
  color: rgb(219, 212, 230);
}
.App-header {
  background-color: #0c0303;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.button1 {
  border: none;
  padding: 15px 32px;
  color: white;
  background-color: #070647;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
