.App {
  text-align: start;
  width: auto;
}

.b {
  border: none;
  background-color: rgb(233, 241, 113);
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  padding: 2;
  cursor: pointer;
}

.nav-link {
  margin: auto;
  font-size: x-large;
  color: rgb(233, 241, 113);

  font-family: "Times New Roman", Times, serif;
}
.list {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  width: auto;
}
.App-header {
  background-color: #0c0303;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.customInput {
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  font-size: medium;
  padding-left: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
