.App-body {
  width: 100%;
  align-content: center;
  align-items: center;

  background-color: #02030f;
}

.App {
  align-content: center;
  width: 100%;
  min-width: fit-content;
  background-color: #02030f;
  overflow-x: hidden;
}

.b {
  border: none;
  background-color: rgb(233, 241, 113);
  font-family: "Merriweather";
  font-size: large;
  padding: 2;
  cursor: pointer;
}

.nav-link {
  margin: auto;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 22px;
  color: rgb(233, 241, 113);
  font-family: "Merriweather"; /*, Times, serif;*/
}

.list {
  text-align: center;
  font-family: "Merriweather";
  font-size: 22px;
  width: fit-content;
}
.App-header {
  background-color: #02030f;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.customInput {
  background-color: white;
  /*  background-position: 5px 5px;*/
  background-repeat: no-repeat;
  font-size: medium;

  padding-left: 10px;
}
ul {
  display: flex;
  list-style-type: none;
  margin: 1px;
  padding: 1px;
  overflow: hidden;
  border: 2px solid #e7e7e8;
  background-color: #040611;
  top: 0;
  width: fit-content;
}
li {
  opacity: 1;
  display: block;
  color: white;
  text-align: left;
  padding: 15px 17px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}
Link {
  text-decoration: none;
}
li:hover {
  background-color: #180488;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
